<h1>
    <a href="https://fontmeme.com/es/fuente-pokemon/"><img src="https://fontmeme.com/permalink/200904/29823668fbc6ffe346327c112d2026c9.png" alt="fuente-pokemon" ></a>    
</h1>



<div id="gridPokemon">
    <div class="pokemon" *ngFor=" let cadaPokemon of generationUno">
        {{cadaPokemon.name}}
        <img src="{{cadaPokemon.url}}" alt="">
        <div class="url" > 
            <a href="{{cadaPokemon.url}}">*</a>
            <a href="https://pokeapi.co/api/v2/pokemon/{{cadaPokemon.name}}"><i class="fas fa-dragon"></i></a>
            
            
       </div> 
    </div>
</div>